certs/*
!certs/.gitkeep

mysql/*
!mysql/.gitkeep

src/public/js

src/node_modules
src/public/hot
src/public/storage
src/public/js
src/storage/*.key
src/vendor
src/.env
src/.env.backup
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log
src/.idea
src/.vscode
src/package.json
src/package-lock.json
src/composer.json
src/composer-lock.json